<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Smartstay" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    
    
  </head>

  <body>
<!-- À placer en haut de votre application.html.erb -->
<!-- Dans application.html.erb -->
  <div id="notifications" 
      style="position: fixed; top: 20px; right: 20px; z-index: 9999; min-width: 300px;"
      data-turbo-permanent>  <!-- Clé magique ! -->
  </div>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= render "shared/navbar" %>
      <%= yield %>
    </main>
  </body>
</html>
